body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  color: #333;
}
.box-container {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.box-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 64px 20px;
  margin: 0 auto;
  max-width: 1080px;
  box-sizing: border-box;
}
.content-Grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.text-box {
  width: 60%;
}
.image-box {
  flex-wrap: wrap;
  text-align: right;
  width: 40%;
}

.image-box > img {
  width: 100%;
  max-width: 377px;
  object-fit: cover;
  filter: drop-shadow(-35px 25px 30px rgb(0 0 0 / 30%));
}

.text-box {
  color: #333;
}
.text-box > h2 {
  font-size: 50px;
  font-weight: 100;
}
.text-box > p {
  font-size: 25px;
  font-weight: 100;
}

@media screen and (max-width: 1024px) {
  .box-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 95px 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .text-box {
    width: 100%;
    text-align: center;
  }
  .text-box > h2 {
    font-size: 40px;
    font-weight: 100;
  }
  .text-box > p {
    font-size: 22px;
    font-weight: 100;
  }
  .image-box {
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .text-box > h2 {
    font-size: 1.7rem;
  }
  .text-box > p {
    font-size: 0.9rem;
    margin: 0.6rem 0 0;
  }
  .box-content {
    padding: 40px 30px;
  }
  .image-box > img {
    margin: 30px 0;
    width: 75%;
    max-width: 250px;
  }
}
